.why-us-header {
  color: rgba(0, 180, 117, 1);
  font-size: 30px;
  text-align: center;
}

.why-us-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.why-us-reason-header {
  color: rgba(0, 180, 117, 1);
  font-size: 18px;
}

.why-us-reason-p {
  font-weight: 300;
}

.why-us-reason {
  width: 400px;
  margin-left: 20px;
  margin-bottom: 45px;
}

@media screen and (max-width: 450px) {
  .why-us-reason {
    width: 100%;
    margin-left: 0px;
  }
  .why-us-header {
    font-size: 22px;
  }
}

.why-us-reason-wrapper {
  display: flex;
  flex-wrap: wrap;
}

