.name-input, .phone-input {
  height: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  padding: 10px;
  font-style: italic;
  font-size: 16px;
  width: 250px;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  background-color: rgba(0, 180, 117, 1);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  font-family: DINPro, sans-serif;
}

.grey {
  background-color: rgba(234, 234, 234, 1);
}