body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  font-weight: 300
}

footer {
  display: flex;
  justify-content: center;
  font-weight: 300;
}

footer span {
  color: rgba(0, 180, 117, 1);
  font-weight: normal;
}